[user]
	name = Loïc Villet
	email = villet.loic@gmail.com
[alias]
	st = status
	diffs = -c delta.features=side-by-side diff
	dft = difftool -d --tool=difft
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = cat
[color "diff-highlight"]
[color "diff"]
  plain = white
  context = white
  func = white
	meta = "#575553"
	frag = brightblack
	commit = magenta
	old = red bold
	new = green bold
	whitespace = red reverse
  oldMoved = brightblack bold
  newMoved = blue bold
[delta]
	navigate = true
	light = false
	file-style = bold yellow
	file-decoration-style = yellow box
	hunk-header-style = line-number syntax
	map-styles = "bold brightblack => syntax \"#473618\", bold blue => syntax \"#153d37\"" # Original pos first, new pos second
	line-numbers = true
[init]
	defaultBranch = main
[difftool "bc"]
	cmd = \"C:/Users/ville/AppData/Local/Programs/Beyond Compare 5/BCompare.exe\" \"$LOCAL\" \"$REMOTE\"
[difftool "difft"]
	cmd = difft "$LOCAL" "$REMOTE"
[diff]
	tool = bc
	colormoved = default
	colormovedws = allow-indentation-change
[difftool]
	prompt = false
[pager]
	difftool = delta
