[user]
	name = Loïc Villet
	email = villet.loic@gmail.com
[alias]
	diffs = -c delta.features=side-by-side diff
	difft = difftool -d --tool=difft
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = cat
[color "diff-highlight"]
[color "diff"]
  plain = white
  context = white
  func = white
	meta = "#575553"
	frag = brightblack
	commit = magenta
	old = red bold
	new = green bold
	whitespace = red reverse
  oldMoved = brightblack bold
  ; oldMoved = "#541d1d" bold ; dark red alternative
  newMoved = blue bold
[delta]
  minus-style = syntax "#3f0001"
  ; plus-style = syntax
	navigate = true
	light = false
	file-style = bold yellow
	file-decoration-style = yellow box
	hunk-header-style = line-number syntax
  map-styles = "bold brightblack => bold #9d39b3 #3f0001, bold blue => bold blue #002800"
	line-numbers = false
[init]
	defaultBranch = main
[diff]
	colorMoved = default
	colormovedws = allow-indentation-change
	tool = vscode
[difftool]
	prompt = false
[pager]
	difftool = delta
[include]
	path = ~/dotfiles/gitaliases.txt
; [difftool "bc"] ; Unused, but kept for reference
; 	cmd = "C:/Users/ville/AppData/Local/Programs/Beyond Compare 5/BCompare.exe" "$LOCAL" "$REMOTE"
[merge]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
	cmd = code --wait $MERGED
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
