* text=auto

linux/** text eol=lf
*.sh text eol=lf
*.py text eol=lf
.gitconfig text eol=lf
.gitattributes text eol=lf

windows/** text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.psm1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.exe binary
